.App {
  text-align: center;
  
}
body {
  height: 96vh;
  padding: 0;
}
li {
  padding-bottom: 10px;
  text-align: left;
  padding-right: 30px;
}
.gameGrid {
  display: grid;
  grid-template-columns: 0.3fr 2.5fr 0.9fr 0.3fr;
  grid-template-rows: 0.3fr 2.5fr 0.6fr;
  gap: 0px 0px;
  grid-template-areas:
  ".   TopBar   TopBar   ."
  ".   Canvas   SideBar  ."
  ".   .        .        .";
}

.gameWindow {
  border-style: solid;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 800px;
}

.gameSetup{
  display: grid;
  height: 100%;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "header   .      "
    "settings sidebar"
    "play     .      "
}

.play { 
  grid-area: play; 
  text-align: center;
}
.playerList { 
  grid-area: sidebar;
}

.settings { 
  grid-area: settings;
  height: 100%; 
}

.setUpHeader {
  grid-area: header;
  background-color: gray;
}
  

.gameSetup .radioButtons {
  margin-top: -30px;
}

.gameSetup h1 {
  text-align: center;
  font-size: 70px;
}

.TopBar {
  grid-area: TopBar;
}
.SideBar {
  grid-area: SideBar; 
}
.Canvas {
  grid-area: Canvas; 
}

.radioButtons{
  margin-top: 10px;
}


.mainMenu {
  padding: 10px;
  text-align: center;
}
