.App {
  text-align: center;
  
}
body {
  height: 96vh;
  background-color:#272531;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
li {
  padding-bottom: 10px;
  text-align: left;
  padding-right: 30px;
}

.gameGrid {
  display: grid;
  height: 100%;
  grid-template-columns: 2.5fr 0.9fr;
  grid-template-rows: 0.3fr 2.6fr;
  position: relative;
  grid-template-areas:
  "topBar   topBar"
  "canvas   sideBar"
}

.gameWindow {
  border-style: solid;
  background-color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 95vh;
  box-shadow: 6px 6px 6px 6px;
}

.gameSetup{
  display: grid;
  height: 100%;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 0.3fr 2.4fr;
  grid-template-areas:
    "header ."
    "main sidebar"
}

.backButton{
  grid-area: header;
  float: left;
  margin: 10px;
  height: 40px;
  top: 10px;
  left: 10px;
  width: 40px;
}

.picture-container {
  border: 3px solid;
  grid-area: canvas;
  height: 70vh;
  aspect-ratio: 4/3;
  margin: auto;
}
.picture-container img{
  width: 100%;
  height:100%;
}

.guess-container { 
  grid-area: sideBar;
  display: grid;
  border-left: 1px solid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 6fr 1.5fr;
  grid-template-areas: 
  "guess-header"
  "guess-list"
  "guess-input";
}

.guesses {
  grid-area: guess-list;
}
.guess-input{
  grid-area:guess-input;
}

.guess-input form {
  width: 90%;
  margin: auto;
}

.guess-input .MuiFormControl-root{
  width: 100%;
  margin-top: 20px;
}

.guess-container h1{
  text-align: center;
}

.canvas {
  grid-area: canvas;
  overflow: hidden;
}

.play { 
  grid-area: main; 
  text-align: center;
}

.playerList { 
  grid-area: sidebar;
}

.settings { 
  grid-area: main;
  height: 100%; 
}

.gameSetup h1 {
  grid-area: header;
}
  

.gameSetup .radioButtons {
  margin-top: -30px;
}

.gameSetup h1 {
  text-align: center;
  font-size: 70px;
}

.topBar {
  display: grid;
  grid-area: topBar;
  grid-template-columns: 0.4fr 0.7fr 0.3fr 0.5fr;
  background-color: rgb(146, 146, 245);
  height: 100%;
  width: 100%;
  grid-template-areas: "timer word . exit";
}

.roundTimer{
  width: 300px;
  padding-bottom: 10px;
  font-size: 30px;
}

.timers {
  grid-area: timer;
  width:100%;
}

.sidebar {
  grid-area: sideBar;
  border-left: solid; 
}
.canvas {
  grid-area: canvas; 
  overflow: hidden;
  width:100% !important;
  height: 100% !important;
  z-index: 0;
}

.radioButtons{
  margin-top: 10px;
}

.visibleWord{
  grid-area: word;
  width: 100%;
  padding-top: 30px;
  font-size: 50px;
  text-align: center;
}


.popUp {
  width: 500px;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 37%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  color: black;
  box-shadow: 5px 5px 100px 5px rgb(66, 66, 66);
}

.Mui-selected{
  color:green;
  font-size: 30px;
}

.scores{
  height: 100%;
}

.mainMenu {
  padding: 10px;
  text-align: center;
}

.MuiListItemText-root	{
  font-weight: 100px;
}

.toolBar {
  display: flex;
  grid-area:canvas;
  position: absolute;
  top: 8%;
  width: 70px;
  height:690px;
  margin-right: 0;
  z-index: 20;
}

.toolBar .MuiSvgIcon-root {
  font-size: 60px;
  margin-left: 5px;
}

.toolBar .MuiSvgIcon-root:hover {
  color: green;
}

.toolBar .MuiPaper-elevation24 {
  box-shadow: 6px 6px 6px 6px;
  float: left;
  flex: 1;
  width: 70px;
}

.MuiSlider-root{
  width:10px;
  height: 50px;
}

.settings .MuiSvgIcon-root{
  font-size: 15px;
  padding-left: 5px;
}

.compact-picker{
  position: absolute;
  left:10px;
  background-color:white;
  border: 1px solid
}

.exit{
  grid-area:exit;
  text-align: right;
}

.exit-button{
  height: 50px;
  width: 200px;
  
}

.settings form {
  width:40%;
  margin:auto;
}

.settings h3{
  margin-bottom: 0px;
}

.settings .playerSubmit{
  float:right;
}

.settings .MuiFormControl-root{
  display:block;
}

.settings .MuiOutlinedInput-root{
  text-align: center;
  width: 100%;
}

.edit:hover{
  color:black !important;
}